.log-item-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
}

.log-item-title:hover {
  cursor: pointer;
  background: #2c2c2c;
}

.par {
  background: #1c1c1c;
}

.impar {
  background: #222;
}

.highlight {
  min-width: 50px;
  background: #2a2a2a;
  border-radius: 1rem;
  padding: 0 0.5rem;
}

.log-item p {
  margin: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content-log {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1rem;
}
